h2{
    font-family:cursive;
    font-style:normal;
    font-weight: bolder ; 
    background-color:black;
    text-align: center;
    color:red;
    
}

table{
    
    font-family:cursive;
    border-collapse: collapse;
    background-color:black;
    color:hotpink;
}

th{
    
    font-weight:bolder;
    background-color:#040009;
    color:hotpink;    
}