p
   {
    font-family:cursive;
    font-weight: bolder; 
    text-align:center;
    color:steelblue;
    background-color:black; 
       border:5px solid black;
         border-color:steelblue;
         font-size: 30px; 
         width:1310px;
         height: 170px;             

   }

table
   {
    font-size: 15px;
    text-align: center;
    font-family:cursive;
    border-collapse: collapse;
    background-color:black;
    color:steelblue;
   }

th 
   {
    text-align: center;
    font-weight:bolder;
    background-color:steelblue;
    color:black;
    font-family:cursive;   
   }

table,td
   {
    border:3px solid;
    border-color: steelblue;
   }

th
   {
    border:3px solid;
    border-color: black;
   }


