h2{
    font-family:cursive;
    font-style:italic;
    font-weight:bolder;
    background-color:palevioletred;
}

table{
    
    font-family:cursive;
    border-collapse: collapse;
    background-color:black;
    color:hotpink;
}

th{
    
    font-weight:bolder;
    background-color:#040009;
    color:hotpink;    
}